chromadb==1.0.15
langchain==0.3.26
langchain-chroma==0.2.5
langchain-community==0.3.27
langchain-core==0.3.71
pandas==2.3.1
python-dotenv==1.1.1
PyMuPDF==1.26.3
requests==2.32.4
selenium==4.21.0
sentence-transformers==2.7.0
tqdm==4.67.1
webdriver-manager==4.0.2
beautifulsoup4==4.12.3
scikit-learn==1.5.2
numpy==1.26.4
